
.product{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 35px;
}
.h1{
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.row1{
    content: "";
    display: table;
    clear: both;
}
.product img{
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
    transition: transform 1.5s;
    

    
}
.product h2{
        margin-top: 30px;
        margin-bottom: 0px;
        color: burlywood;
        text-align: center;
        font-size: x-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.product:hover{
    transform: translateY(-10px);
}
