*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.15;
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 300;
    background: rgba(46, 46, 46, 0.164);
}
#pageprincipale h1:hover {
    background-color: black;
}
a{
    color:white;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover,
a:focus{
    outline: none;
    text-decoration: none;
}
.team-content p{
    padding: 0;
    margin: 0 0 15px 0;
    color: white;
    font-weight: 300;
}
h1{
    background-color: black;
    padding: 10px;
}
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0 0 15px 0;
    color: white;
    font-weight: 700;
}
.images1 img{
    width: 100%;
    height: auto;
}
.container1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title{
    flex: 0 0 100%;
    text-align: center;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 40px
}

.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 0 0 5px;
    position: relative;
}

.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    bottom: -5px;
}

.container1 .section-title h1::before{
    left: 30%;
}

.nassymrow{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.column1{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}
.segteam{
    margin-bottom: 30px;
}
.segteam .images1{
    position: relative;
    font-size: 0;
    text-align: center;
}
.segteam .images1 img{
    width: 160px;
    height: 225px;
    border-radius: 100%;
    border: 20px solid whitesmoke;
}
.segteam .team-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background:black;
    border-radius: 10px;
}

.segteam .team-content h2{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: auto;
}

.segteam .team-content h4{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 0;
    color: white;
}
.team-content p{
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
}
.team-emails{
    font-size: 20px;
}
.team-content{
    color: white;
}
img:hover{
    transform: scale(1.5);
}
