*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:10px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.15;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageprincipale{
    background-image: linear-gradient(rgba(34, 33, 33, 0.75),rgba(34, 33, 33, 0.75)),url(images/coffee.jpg);
    background-position: top center;
    background-size: cover;
    position: relative;
    background-blend-mode: darken;
}
#pageprincipale::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: -7;
    color: white;
}
#pageprincipale .oui {
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    text-align: center;
    animation: text_reveal 0.5s ease forwards;
    animation-delay:1s ;
    font-family: 'Times New Roman', Times, serif;  
    font-size: 80px;
    margin-top:20%;
}
#pageprincipale .oui:nth-child(1){
    animation-delay: 0.75s;
}
/*content home page*/
#pageprincipale .oui span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #c49e7a;
    animation: text_reveal_box 0.5s ease;
    animation-delay: 0.25s;
}
#pageprincipale .oui:nth-child(1) span{
    animation-delay:0.5s ;
}

#pageprincipale h2 {
    display: block;
    width: fit-content;
    font-size: 6rem;
    position: relative;
    color: transparent;
    text-align: center;
    animation: text_reveal 0.75s ease forwards;
    animation-delay:0.5s ;
    font-family:Brush Script MT;
    margin-top: -5px;
}

#pageprincipale h2:nth-child(2){
    animation-delay: 1s;
}

#pageprincipale h2 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #c49e7a;
    animation: text_reveal_box 0.75s ease;
    animation-delay: 0.5s;
}

#pageprincipale h2:nth-child(2) span{
    animation-delay:0.75s ;
}

/* end content home page*/
/*services*/
.services {
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 90%;
    background-color: black;
}
.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delivery-icon {
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.delivery-container .box-content {
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    width: 220px;
    text-align: center;
}
.service-details{
    font-weight: 600;
    width: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: large;
}
/*end services*/
/*project*/
.projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-align: center;
}
.projects-header h1{
    margin-bottom: 50px;
}
.all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.projects-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 22px auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}
.projects-info{
    padding: 35px;
    flex-basis: 50px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #c49e7a;
    color: white;
}
.projects-info h1{
    font-size: 4rem;
    font-weight: 500;
}
.projects-info p{
    color: white;
    font-size: 15px;
}
.project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    
}
.project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
}
.project-img img{
    transition: 0.3s ;
}
.projects-item:hover .project-img img {
    transform: scale(1.1);
}
/* end project*/

@media only screen and (max-width: 800px){
    .services {
        display:inline-block;
        justify-content:space-between;
        background-color: black;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        padding: 20px;
    }
    *{
    font-size: smaller;
    }
}
